<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink=''>Evolent</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink='' routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">Home</a>
      <a class="nav-item nav-link" routerLink='/users-list' routerLinkActive='active'>User List</a>
      <a class="nav-item nav-link" routerLink='/add-user' routerLinkActive='active'>Add User</a>
    </div>
  </div>
</nav>