<h3 style="color: #6969b5;">Evolent Health - Project exercise for Application Development Positions</h3>
<h3>Project Description:</h3>
<p>This application is designed and implemented for maintaining contact information. </p>
<p>I have implemented this application using implement a Single Page Application - Angular 7 version, also created the dummy database to store the user list. Tried to implement the
    basic CRUD functinality using Angular.
</p>
<h3>Functionality:</h3>
<ul>
    <li>User list</li>
    <li>Add a new user</li>
    <li>Edit specific user</li>
    <li>Delete specific user</li>
    <li>Active / Deactive user</li>
</ul>
<h3>User fields:</h3>
<ul>
    <li>First name</li>
    <li>Last name</li>
    <li>Email</li>
    <li>Mobile Number</li>
    <li>Status (Active / Deactive) - Default status is set as Deactive</li>
</ul>